Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterFunction: true
BreakBeforeBraces: Custom
ColumnLimit: 80
ContinuationIndentWidth: 4
IndentWidth: 4
